version: 2.1
jobs:
  build:
    working_directory: /workspace
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build and Push Docker image
          command: |
            export DOCKERHUB_NAMESPACE=$DOCKERHUB_NAMESPACE
            export DOCKERHUB_USER=$DOCKERHUB_USER
            export DOCKERHUB_PASS=$DOCKERHUB_PASS
            sh scripts/build-docker-hub.sh      
  deploy_dev:
    working_directory: /workspace
    docker:
      - image: kiwigrid/gcloud-kubectl-helm
    steps:
      - checkout
      - run:
          name: Setup gcloud & kubectl
          command: |
            echo $GCP_SERVICE_ACCOUNT_DEV | base64 -d > /root/gcloud-service-key.json
            gcloud auth activate-service-account --key-file /root/gcloud-service-key.json            
            gcloud --quiet config set project $GKE_PROJECT_DEV
            gcloud --quiet config set compute/zone $GKE_ZONE_DEV
            gcloud --quiet container clusters get-credentials $GKE_CLUSTER
      - run:
          name: Deploy on Kubernetes
          command: |
            export DOCKERHUB_IMAGE=keycloak-theme
            export DOCKERHUB_TAG=1.0
            cat \<\< \EOF > ./values.yaml
            keycloak:
              preStartScript: |
                cp /opt/jboss/keycloak/themes/mytheme/
              image:
                tag: 6.0.1
              replicas: 2
              extraInitContainers: |
                - name: theme-provider
                  image: IMAGE_THEME
                  imagePullPolicy: IfNotPresent
                  command:
                    - sh
                  args:
                    - -c
                    - |
                      echo "Copying theme..."
                      cp -R /mytheme/* /theme
                  volumeMounts:
                    - name: theme
                      mountPath: /theme
              extraVolumeMounts: |
                - name: theme
                  mountPath: /opt/jboss/keycloak/themes/mytheme
              extraVolumes: |
                - name: theme
                  emptyDir: {}
              cli:
                reverseProxy: |
                  /subsystem=undertow/server=default-server/http-listener=default:write-attribute(name=proxy-address-forwarding, value=true)
                custom: |
                  /subsystem=keycloak-server/spi=connectionsJpa/provider=default/:map-put(name=properties,key=migrationStrategy,value=update)
                  /subsystem=keycloak-server/theme=defaults:write-attribute(name=default,value=${env.KEYCLOAK_DEFAULT_THEME:mytheme})
              persistence:
                deployPostgres: false
                dbVendor: mysql
                dbPort: 3306
                dbHost: keycloak-mysql
                existingSecret: keycloak
                existingSecretKey: mysql_password
              username: admon
              existingSecret: keycloak
              existingSecretKey: keycloak_password
            EOF
            sed -i -e "s/IMAGE_THEME/$DOCKERHUB_NAMESPACE\/$DOCKERHUB_IMAGE:$DOCKERHUB_TAG/g" values.yaml
            helm upgrade --install keycloak ./helm-chart/keycloak -f ./values.yaml

workflows:
  version: 2.1
  build-and-deploy:
    jobs:
      - build:
          name: build-dev
          context: TPI
          filters:
            branches:
              only:
                - develop
      - build:
          name: build-prod
          context: TPI_PROD
          filters:
            branches:
              only:
                - master
      - deploy_dev:
          context: TPI
          name: deploy_dev-dev
          requires:
            - build-dev
          filters:
            branches:
              only:
                - develop
      - deploy_dev:
          context: TPI_PROD
          name: deploy_dev-prod
          requires: # We only run the "hold" job when test2 has succeeded
            - build-prod
          filters:
            branches:
              only:
                - master
